body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    color:#464545;
}
html.homepage {
    overflow-x: hidden!important;
}
h1,h2,h2,h3,h4,h5,h6,p
{
    margin: 0px;
    padding:0px;
}
a
{
    text-decoration: none!important;
    font-size: 16px;
}
a:after
{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: auto;
    top: 0px;
    background-repeat: no-repeat;
}
a:hover
{
    text-decoration: none!important;
}
p
{
    font-size:16px;
    line-height: 20px;
}
h1
{
    font-size: 65px;
    line-height: 67px;
}
h2
{
    font-size: 60px;
}
h3
{
    font-size: 40px;
}
h4
{
    font-size: 25px;   
}
h5
{
    font-size: 22px;
}
h6
{
    font-size: 20px;
}
.second-menus {
    background: #de4b39;
    position: static;
    width: 100%;
    height: auto;
    overflow-y: initial;
    overflow-x: inherit;
    padding: 10px 0px;
}
.top-banner {
    width: 100%;
    background-color: #fff;
    padding: 30px 0px;
}
#header {
    width: 100%;
    padding: 10px 0px;
}
.search_icon_b::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 99;
    width: 20px;
    height: 20px;
    background-image: url("../images/search.svg");
    left: 11px;
    top: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.search_area {
    position: relative;
    margin-top: 4px;
    max-width: 360px;
    width: 100%;
}
.search_area_inside form .form-control {
    box-shadow: none;
    color: #8c8c8c;
    padding-left: 40px;
    font-size: 16px;
    background-color: #eff4f7;
    border: 1px solid #eff4f7;
    border-radius: 5px;
    height: 40px;
}
.notifications a span {
    position: absolute;
    top: -6px;
    right: -11px;
    background-color: #e33a20;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
}
.notifications {
    width: 40px;
    position: relative;
    float: left;
    margin-right: 30px;
    margin-top: 14px;
}
.right-headers {
    width: auto;
    display: inline-block;
    float: right;
}
.login-signup {
    width: 144px;
    float: right;
    margin-top: 7px;
}
.login-signup a {
    margin-left: 18px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.23);
    background-color: #025dae;
    color: #fff;
    border-radius: 2px;
    height: 38px;
    display: inline-block;
    position: relative;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    border: none transparent;
    text-decoration: none;
}
/**/
.left-tabs-menus ul {
    margin: 0px;
}
.left-tabs-menus ul li a {
    font-size: 16px;
    color: #fff;
    display: block;
}
.deals-of-days a {
    font-size: 16px;
    color: #fff;
    text-align: right;
    display: block;

}
/**/
.top-slider-offer .owl-nav button.owl-next::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 12px;
    left: 8px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.top-slider-offer .owl-nav button.owl-next {
    position: absolute;
    background: #fff;
    width: 40px;
    height: 40px;
    top: 40%;
    right: 0px;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.22);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.22);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.22);
}

.top-slider-offer .owl-nav button.owl-prev {
    position: absolute;
    background: #fff;
    width: 40px;
    height: 40px;
    top: 40%;
    left: 0px;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.22);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.22);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.22);
}

.top-slider-offer .owl-nav button.owl-prev::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 12px;
    left: 13px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.top-slider-offer .owl-nav button.owl-next:hover, .top-slider-offer .owl-nav button.owl-prev:hover {
    background: #fff;
    color: #000;
    text-decoration: none;
}

/**/
.ind-flip-imgs img, .slide-imgs img {
    border-radius: 6px;
}
/**/
.footer-in-widget ul li a:hover {
    color: #8cb553;
}
footer {
    padding: 48px 0 24px;
    position: relative;
    z-index: 4;
    background: #232f43;
    color: #fff;
}
.footer-in-widget h2 {
    color: #fff;
    margin-top: 0;
    font-size: 1.2em;
    margin-bottom: 18px;
    display: block;
    font-weight: 700;
}
.about-comp {
    margin-bottom: 20px;
}
.footer-in-widget ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}
.footer-in-widget ul li a {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 0px;
    display: block;
}
.footer-in-widget p {
    font-size: 14px;
    line-height: 1.5;
}
/**/
.offer-tabs {
    width: 100%;
    padding: 50px 0px 50px 0px;
    background-color: #fbfbfb;
}
/**/
.offer-tabs .nav-tabs > li.active > a, .offer-tabs .nav-tabs > li.active > a {
  font-size: 16px;
  line-height: 24px;
  color: #de4b39;
  background-color: #f4f4f4;
  border: 1px solid #e6e6e6;
  border-bottom: 0px solid #000;
  font-weight:500;
}
.offer-tabs .nav-tabs > li > a{
  font-size: 16px;
  line-height: 24px;
  color:#000;
  border: 1px solid #e6e6e6;
  margin-right: 5px;
  padding: 10px 25px;
  font-weight:500;
  border-bottom: 1px solid #f4f4f4;
}
.offer-tabs .tab-content {
  border: 1px solid #f4f4f4;
  padding: 15px;
  border-top: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  margin-top: -2px;    
  width: 100%;
  display: inline-block;
}
.offer-tabs .nav > li > a > img {
  max-width: none;
  width: 34px;
  height: 34px;
  display:block;
  margin:0px auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.22);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.22);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.22);
  border-radius: 50%;
}
.left-off {
    border-radius: 4px;
    background-color: #f0f2f5;
    color: #515151;
    font-size: 18px;
    text-align: center;
    width: 125px;
    float: left;
    padding: 20px;
}
.left-off p {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2;
}
.left-off p span {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 500;
}
.right-off {
    width: calc(100% - 125px);
    float: left;
}
.right-off img{
    width: 100%;
}
.offer-detail {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
}
/**/
.left-tabs-menus ul li a:hover {
    color: #333123;
    transition: .5s;
}
.offer-detail:hover {
    transform: translateY(-6px);
    box-shadow: 0 2px 14px 3px rgba(0,0,0,.03);
}
.offer-tabs .nav-tabs > li > a:hover {
    color: #de4b39;
}
.login-signup a:hover {
    background-color: #de4b39;
    transition: .5s;
}
/**/
.tab {
    float: left;
    border: 1px solid #fff;
    background-color: #fff;
    max-width: 247px;
    height: auto;
    width: 100%;
    margin-right: 30px;
    border-radius: 6px;
}


.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 15px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}


.tab button:hover {
  background-color: #fff;
  color: #de4b39;
}


.tab button.active {
  background-color: #fff;
  color: #de4b39;
}


.tabcontent {
  float: left;
  padding: 0px;
  border: 0px solid #ccc;
  width: calc(100% - 277px);  
  height: auto;
}
.verticlal-tab-in {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(17,19,35,.08);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;
    padding: 15px;
}
.verticla-tabs {
    width: 100%;
    padding: 50px 0px;
    background: linear-gradient(to bottom,#f1f5f8,#dfe8ef);;
}
.top-v-left {
    border-radius: 4px;
    background-color: #f0f2f5;
    color: #515151;
    font-size: 18px;
    text-align: center;
    width: 140px;
    float: left;
    padding: 20px 10px;
}
.top-v-right {
    width: calc(100% - 140px);
    float: left;
}
.top-v-left p {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2;
    position: relative;
}
.top-v-left p span {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 500;
    transform: rotate(
        -90deg);
    position: absolute;
    top: 6px;
    right: 0px;
}
.top-v-right img {
    width: 100%;
}
.tab button img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #efefef;
    margin-right: 10px;
}
.top-heads h2{
    font-size: 22px;
    margin-bottom: 30px;
    position: relative;
    color: #030306;
    font-weight: 700;
    margin-top: 0;
}
.top-heads h2:after {
    content: '';
    background-color: #de4b39;
    width: 80px;
    display: block;
    height: 4px;
    margin-top: 6px;
}
/**/
#couponmodal .modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #025dae;
}
#couponmodal .modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #fff;
}
#couponmodal .close {
    float: right;
    font-size: 35px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
.popupright h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}
.popupright p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}
.full-width h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.full-width ol {
    padding-left: 15px;
}
.full-width ol li {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom:8px;
}
.my-sidenav{
    display:none;
}
/**/
.more_brouchers a {
    text-align: center;
    display: block;
    font-size: 18px;
    border: 1px solid #de4b39;
    width: 160px;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 10px auto;
    color: #de4b39;
}
.more_brouchers {
    width: 100%;
    display: inline-block;
}
/**/
.voucher-listing {
  width: 100%;
  display: inline-block;
  padding: 50px 0px;
}
.lazy_blur {
 background-color: #c1bebe;
 filter: blur(10px);
 transition: all 1s;
 -webkit-filter: blur(10px);
 -moz-filter: blur(10px);
 -o-filter: blur(10px);
 -ms-filter: blur(10px);
}
.check_arrow {
 background-color: #01a7bd !important;
 display: block;
 border: 1px solid #01a7bd !important;
}
.check_arrow::after {
 content: "";
 display: block;
 webkit-border-image: none;
 border-image: none;
 border-color: #fff;
 border-style: none solid solid none;
 border-width: medium 1px 1px medium;
 height: 10px;
 left: 6px;
 opacity: 1;
 position: absolute;
 top: 2px;
 -webkit-transform: scale(1) rotate(45deg);
 transform: scale(1) rotate(45deg);
 -webkit-transition-delay: .1s;
 transition-delay: .1s;
 width: 5px;
 z-index: 1;
}
.dealsMain {
 width: 100%;
 display: inline-block;
 padding: 45px 75px;
}
.topFlex {
 -webkit-box-flex: 1;
 -webkit-flex: 1;
 -moz-box-flex: 1;
 -ms-flex: 1;
 flex: 1;
}
.font14 {
 font-size: 13px;
 line-height: 14px;
}
.leftLable {
 display: flex;
 justify-content: space-between;
 align-items: center;
 color: #4a4a4a;
}
.filtersCollapsOuter .checkbox-group .box,
.filterMain .checkbox-group .box {
 background: 0 0;
}
.checkbox-group .box {
 background: #fff;
 border: 1px solid #979797;
 border-radius: 4px;
 height: 18px;
 margin: 0 10px 0 0;
 float: left;
 width: 18px;
}
.checkbox-group,
.checkbox-group .box {
 display: inline-block;
 position: relative;
 width: 100%;
}
.checkbox-group label {
 width: 100%;
 margin: 0;
 cursor: pointer;
}
.checkbox-group input[type="checkbox"] {
 display: none;
}
.gapBottom,
.haveMultiCity #slide_filter_panel {
 margin-bottom: 10px;
}
.checkbox-group,
.checkbox-group .box {
 display: inline-block;
 position: relative;
 width: 100%;
}
.headingFilter {
 color: #000;
 font-size: 16px;
 font-weight: 700;
}
.gapBottom,
.haveMultiCity #slide_filter_panel {
 margin-bottom: 10px;
}
.filterMain {
 width: 100%;
 background-color: #fff;
 padding: 15px;
 border: 1px solid #dde0e1;
}
.checkbox-group .box {
 background: #fff;
 border: 1px solid #979797;
 border-radius: 4px;
 height: 18px;
 margin: 0 10px 0 0;
 float: left;
 width: 18px;
}
.flightFilters {
 width: 100%;
 display: inline-block;
 margin-bottom: 15px;
}
.right_deals_listing {
 width: 100%;
 display: inline-block;
 padding: 20px;
 background-color: #fff;
 border: 1px solid #dde0e1;
 margin-bottom: 15px;
}
.dealsDiscount {
 width: 103px;
 float: left;
 margin-right: 20px;
}
.contentCoupon {
 width: 492px;
 float: left;
 margin-right: 20px;
}
.scratchCoupon {
 float: left;
}
.offerDetailsShow {
 width: 100%;
 display: inline-block;
 padding: 15px 0px 0px 15px;
 border-top: 1px solid #f4f4f4;
 margin-top: 25px;
 display:none;
}
.dealsDiscountIn {
 border: 1px dashed rgba(91,87,86,0.6);
 border-radius: 10px;
 padding: 9px;
 margin-top: 0;
}
.dealsDiscountIn p {
 font-size: 26px;
 white-space: nowrap;
 font-weight: bold;
 display: block;
 text-overflow: ellipsis;
 overflow-x: hidden;
 text-align: center;
}
.dealsDiscountIn p span {
 display: block;
 font-size: 16px;
 font-weight: bold;
 line-height: 30px;
 text-transform: uppercase;
}
.contentCoupon h3 {
 font-size: 18px;
 color: #4a4a4a;
 width: 480px;
 font-weight: 500;
 margin-top: 5px;
 overflow: hidden;
 line-height: 1.5;
}
.contentCoupon p {
 font-size: 16px;
 white-space: nowrap;
 color: #2BA828 !important;
 font-weight: 500;
}
.couponscratchable a {
 width: 190px;
 height: 45px;
 line-height: 45px;
 text-align: center;
 color: #ffffff;
 font-weight: bold;
 font-size: 16px;
 background-color: #cd3232;
 cursor: pointer;
 border-radius: 3px;
 overflow: hidden;
 position: relative;
 display: block;
 margin-top: 10px;
}
.showMoreD a {
 font-size: 14px;
 margin-top: 10px;
 display: block;
 text-align: center;
 color: #4a90e2;
 cursor: pointer;
}
.offerDetailsShow ul li {
 line-height: 1.43;
 color: #797373;
 font-size: 14px;
 padding: 3px 0px;
}
.catIndiImg {
 width: 100%;
 display: inline-block;
 border: 1px solid #dde0e1;
 margin-bottom: 20px;
 background-color:#fff;
}
.catIndiImg img {
 margin:0px auto;
 display:block;
}
.individual_brnad p {
 font-size: 1.2rem;
 color: #494949;
 line-height: 1.8rem;
 overflow: hidden;
 white-space: normal;
}
.individual_brnad p span {
 font-size: 1.4rem;
 display: block;
 color: #000;
 font-weight: 700;
}
.individual_brnad {
 background-color: #fff;
 margin-bottom: 30px;
 width: 100%;
 display: inline-block;
 padding: 15px;
 border: 1px solid #dde0e1;
 border-radius: 4px;
}
.individual_brnad img {
 width: 100%;
}
.filter_top p {
 max-width: 64px;
 float: left;
 width: 100%;
 font-size: 15px;
 font-weight: 600;
}
.filter_right select {
 margin-top: 0;
 margin-bottom: 10px;
}
.filter_top ul {
 margin: 0px;
}
.filter_top {
 width: 100%;
 display: inline-block;
 margin-top: 7px;
}
/**/
.buy-btn a {
    font-size: 13px;
    padding: 10px 15px;
    background-color: #de4b39;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    margin-right: 5px;
}
/**/
.inside-forms {
    width: 558px;
    display: block;
    margin: 0px auto;
    border: 1px solid #e7e5e5;
    padding: 30px 30px;
}
.submit-btms {
    background-color: #e92841;
    border: 1px solid #e92841;
    color: #fff;
    padding: 6px 20px;
    font-size: 18px;
    border-radius: 25px;
    width: 100%;
}
.inside-forms select {
    color: #999;
    font-size: 16px;
}
.inside-forms .form-control {
    height: 44px;
    border: 1px solid #e7e5e5;
    margin-bottom: 25px;
    border-radius: 0px;
    box-shadow: none;
}
.recharge-feed {
    width: 100%;
    display: inline-block;
    padding: 40px 0px 40px 0px;
}
.inside-forms h3 {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.inside-forms ul {
    padding-left: 15px;
}
.inside-forms ul li{
    margin-bottom: 8px;
    font-size: 14px;
}
.inside-page header{
    -webkit-box-shadow: 1px 4px 3px 0 rgba(0,0,0,.08);
    box-shadow: 1px 4px 3px 0 rgba(0,0,0,.08);
}
.inside-forms .form-control::placeholder {
    color: #999;
    opacity: 1;
    font-size: 16px;
}
.submit-btms:hover {
    background-color: #025dae;
    border: 1px solid #025dae;
    transition: .5s;
}
.react-responsive-modal-modal {
    overflow: hidden;
}